<% provide(:title, 'Article') %>
<p>
  <strong>Headline:</strong>
  <%= @article.headline %>
</p>
 
<p>
  <strong>Content/Link:</strong>
  <%= @article.content %>
</p>

<p>
  <strong>Takeaway:</strong>
  <%= @article.takeaway %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @article.tags %>
</p>
 
<h2>Takeaways</h2>
<% @article.comments.each do |comment| %>
  <% @user = User.find_by_id(comment.user_id) %>
  Takeaway
  <p>
    <strong>User:</strong>
    <%= @user.email %>
  </p>
  <p>
    <strong>Takeaway:</strong>
    <%= comment.body %>
  </p>
<% end %>
 
<h2>Add a takeaway:</h2>
<%= form_for([@article, @article.comments.build]) do |f| %>

  <p>
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
 
<%= link_to 'Edit Post', edit_article_path(@article) %> |
<%= link_to 'Back to Posts', articles_path %>
