<section id="popup" class="add">
<div class="cf"></div>
  <section id="write" class="left">
	<header class="right top-round"><%= @article.headline %></header>
	<div class="cf"></div>
	<aside>
		<%= @article.content %>
	</aside>
	<div class="cf"></div>
	 <header class="right top-round">Takeaway:</header>
  	 <aside>
  <%= @article.takeaway %>
 </aside>
 </section>

<div class="cf"></div>
		<section class="feed">
			<aside class="entry">
			<% @article.comments.each do |comment| %>
 			 <% @user = User.find_by_id(comment.user_id) %>
				<span class="content">


  <p>
    <strong>User:</strong>
    <%= @user.first_name %>
  </p>
  <p>
    <strong>Takeaway:</strong>
    <%= comment.body %>
  </p>
<% end %>
</span>
<section id ="post" class="left">
<div class ="cf"</div>
<%= form_for([@article, @article.comments.build]) do |f| %>

<%= f.text_area :body, size: "20x5" %>
    <%= f.submit "Create Takeaway" %>
<% end %>
 
<%= link_to 'Edit Post', edit_article_path(@article) %> |
<%= link_to 'Back to Posts', articles_path %>
