<style>
#popup #feed {width: 33%; }

  #popup #feed .biv {}
    #popup #feed .biv header {background: #78036E; }  
    #popup #feed .biv .entry {background: #78036E; }
    #popup #feed .biv .entry:hover {background: #851D7C; }      
    
  #popup #feed .articles {}
    #popup #feed .articles header {background:#73A7F5;}
    #popup #feed .articles .entry {background:#73A7F5; }
    #popup #feed .articles .entry:hover {background: #a0c1f4;}
  
    #popup #feed .feed {height: 225px; overflow: auto; }
      #popup #feed .feed .entry {margin-bottom: 7px; padding: 7px; font-size: 24px; color: white; text-align: center; }
    #popup #feed .feed:first-of-type {margin-bottom: 13px;}
    #popup #feed section header {margin-bottom: 3px; padding: 7px; font-size: 24px; font-weight: bold; color: white; display: inline-block; border-top-right-radius: 5px; border-top-left-radius: 5px;}
</style>
 
<%= link_to 'Edit Post', edit_article_path(@article) %> |
<%= link_to 'Back to Posts', articles_path %>

<section id="popup" class="add">
  <div class="cf"></div>

  <section id="write" class="left">
    <header class="left top-round"><%= @article.headline %></header>
    <div class="cf"></div>
    <p style="text-align:left, "><%= @article.content %><p>
  </section>
    <div class="cf"></div>
  <section id="feed" class="right">
    <section class="articles">
      <header>
      Takeaways
      </header>
      <section class="feed">
        <% @article.comments.each do |c| %>
            <aside class="entry">
              <%= c.body %>
            </aside>
        <% end %>
      </section>
      <%= form_for([@article, @article.comments.build]) do |f| %>
        <%= f.text_area :body %>
        <%= f.submit "Add Takeaway" %>
    <% end %>
    </section>
    
  </section>
  

</section>