<div class="bg"></div>

<!-- BEGIN #home -->
<div id="login">

	<div class="block login splash">
	
		<div class="login">
			<%= form_for(resource, :as => resource_name, :url => user_session_path) do |f| %>
			<h1>Login</h1>
  			<%= f.email_field :email, :placeholder => "Email" %>
 			<%= f.password_field :password, :placeholder => "Password" %>
			<button class="round small btn-blue"><%= f.submit "Sign in" %></button>
		</div>
		<% end %>

		<div class="register">
			<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
			<h1>Register</h1>
  			<%= f.text_field :first_name, :placeholder => "First Name" %>
  			<%= f.text_field :last_name, :placeholder => "Last Name" %>
  			<%= f.text_field :username, :placeholder => "Username" %>
  			<%= f.email_field :email, :placeholder => "Email" %>
			<%= f.password_field :password, :placeholder => "Password" %>
			<%= f.password_field :password_confirmation, :placeholder => "Re-Type Password" %>
			<button class="round small btn-purple"><%= f.submit "Sign up" %></button>
		</div>
		<% end %>
	</div>

</div>