<%= render 'shared/user-top' %>
<div id="profile">

<div class="block">

<div class="cf"></div>

<section id="summary" class="left">
	
	<aside class="photo left">
		<img src="<%= @basic_profile.picture_url %>"height="250" width="250"/>
	</aside>
		
	<aside class="info left">
		<aside class="content"><%= @basic_profile.summary %></aside>
	</aside>
		
	<div class="cf"></div>
	<aside class="summary left">
			<header>Interests</header>		
			<aside><%= @full_profile.interests %>
			</aside>
		</aside>
	<aside class="skills left">
			<header>Honors</header>
			<aside><%= @full_profile.honors %>
		</aside>
	</aside>
		
	<div class="cf"></div>
	<aside class="experience left">
			<header>Positions</header>		
			<aside><table>
  		<tr>
  			<th>Title</th>
  			<th>Summary</th>
  			<th>Company Name</th>
  			<th>Is Current</th>
  			<th>Start Date</th>
  			<th>End Date</th>
  		</tr>
  		<% @positions.each do |p| %>
  			<tr>
  				<th><%= p.title %></th>
  				<th><%= p.summary %></th>
  				<th><%= p.company %></th>
  				<th><%= p.is_current %></th>
  				<th><%= p.start_date %></th>
  				<th><%= p.end_date %></th>
  			</tr>
			</table>
  		<% end %>
			</aside>
	</aside>

	<aside class="education left">
			<header>Education</header>		
			<aside><table>
  		<tr>
  			<th>School Name</th>
  			<th>Field of Study</th>
  			<th>Degree</th>
  			<th>Activities</th>
  			<th>Notes</th>
  			<th>Start Date</th>
  			<th>End Date</th>
  		</tr>
  		<% @educations.each do |e| %>
  			<tr>
  				<th><%= e.school_name %></th>
  				<th><%= e.field_of_study %></th>
  				<th><%= e.degree %></th>
  				<th><%= e.activities %></th>
  				<th><%= e.notes %></th>
  				<th><%= e.start_date %></th>
  				<th><%= e.end_date %></th>
  			</tr>
  		<% end %>
		</table>
		</aside>
	</aside>
  </section>
  <section id="feed" class="left">

		<section class="biv">
			<header>Bivs</header>
			<section class="feed">
				<% @rooms.each do |r| %>
				<aside class="entry">
				<%= @room.name %>
				</aside>				
			
			</section>
		</section>
		<section class="articles">
			<header>Articles</header>
			<section class="feed">
				<aside class="entry">
					Article
				</aside>
				<aside class="entry">
					Article
				</aside>
				<aside class="entry">
					Article
				</aside>
				<aside class="entry">
					Article
				</aside>
				<aside class="entry">
					Article
				</aside>
				<aside class="entry">
					Article
				</aside>
				<aside class="entry">
					Article
				</aside>
				<aside class="entry">
					Article
				</aside>					
			
			</section>
		</section>
	
	
	</section>


  	