<nav id = "main">
<ul class = "menu">
<li><%= link_to "Bivit", root_path %></li>

	  <% if signed_in? %>
	  <li><%= link_to "Bivs", rooms_path %></li>
	  <li><%= link_to "Users", users_path %></li>
	  <li><a href="<%= user_path(current_user) %>"><%= current_user.first_name + " " + current_user.last_name %></a></li>
	  <li><%= link_to "Sign out", destroy_user_session_path, method: "delete" %></li>
	  <li><%= link_to image_tag("linkedin_button.gif", :size => "125x25", :border => 0), ("/linkedin_oauth_url") %></li>
	   <% else %>
             <li><%= link_to "Sign in", new_user_session_path %></li>
	   <% end %>
</ul>
</nav>
<% if signed_in? %>
    <%= render 'shared/user_info' %>
<% end %>
